body {
  height: 100%;
}

div {
  padding: 20%;
  margin: auto;
}

h1 {
  font-family: Sans-serif;
  color: #666666;
}

p {
  font-family: Sans-serif;
}

em {
  color: #333333;
}

a {
  text-decoration: none;
}
